<apex:page standardController="Account" extensions="AccountExtCnt">
    <apex:pageBlock >
        <apex:pageBlockSection title="Contact Hierarchy" columns="1" showHeader="false">
            <apex:pageBlockTable value="{!conList}" var="con">
                <apex:column headerValue="Contact Name">
                    <apex:outputLink value="/{!con.Id}">{!con.Name}</apex:outputLink>
                </apex:column>
                <apex:column headerValue="Account Name">
                    <apex:outputLink value="/{!con.AccountId}">{!con.Account.Name}</apex:outputLink>
                </apex:column>
                <apex:column headerValue="Account Type">
                    <apex:outputText value="{!con.Account.Type}"/>
                </apex:column>
                   
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>